

  .footer {
    position: fixed;
    left:20%;
    right:20%;
    bottom: 0;
    max-height: 20px;
  
    background-color: rgba(20, 20, 20, 0.8);
    color: white;
    text-align: center;
    border-radius: 10px;
  }

  .texttt{
    margin: 15;   

  }

  h2{
    margin-bottom: 0;
  }

  body{
    margin: 0;
  
    cursor:url(cursors/Glove\ Normal.cur),auto;

  }

  a{
    cursor: url(cursors/Glove\ Link.cur),auto;
  }

  h1{
    font-size: 36;
    font-family: "name";
  }


  a{
    color:inherit;
  }
    .hide{
        display: none;
    }

    .resume:hover{
        content: ">asjdjas";
    }

    @font-face {
      font-family: "name";
      src: url("./fonts/Saturn-Boing.woff");
    }

    @font-face {
        font-family: "yearis199x";
        src: url("./fonts/Twoson.woff") format("woff");
    }
    .textContainer{
        /* background-color:black; */
        border-radius: 25px;
        
        /* background-color: rgba(20, 20, 20, 0.8); */

        background-image:  linear-gradient(180deg, rgba(20,20, 20,0.8) ,rgba(20,20, 20,0.6) ,rgba(0, 0,0,-1));
        /* opacity: 100% !important;
        color: white !important; */
        color: white;
        position:absolute;
        font-family: "yearis199x";
        font-size: 23;
      
   /* / */
       top: 5%;
       left:2.5%;
       bottom: 0;
       right: 2.5%

        /* left:10;
        top: 10;
        right: 10;
        bottom: 10; */
        /* background-image: url("./bgs/033.png"); */
      
    }


    .background-animated {
      width: 100%;
      height: 100vh;
      animation: infiniteScrollBg 32s linear infinite;
    }

    .background-animated::before{
        /* \\\background-image: url('./bgs/028.png'); */
      background-size: cover;
      opacity: 100%;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
    }
    
    @keyframes infiniteScrollBg {
      0% {
        background-position: 50% (-404 * 2);

      }
      100%{
        background-position: 50% 100%;

      }
    }


    .background-animated2 {
      width: 100%;
      height: 100vh;
      opacity: 33%;
      position: absolute;
      background-color: #000;
      /* background-image: url('./bgs/036.png'); */
      animation: infiniteScrollBg2 32s linear infinite;
    }
    
    @keyframes infiniteScrollBg2 {
      0% {
        background-position: 50% 100%;
      }
      100%{
        background-position: 50% (-404 * 2);
      }
    }



  div.gallery {
    margin-top: 5px;
    float: left;
    width: 15%;
    /* overflow: hidden; */
    margin-right: 10;
   
    overflow:visible;
  }

  div.gallery:hover {
    text-decoration: underline;
    font-size: 25;
  }

  div.gallery img {
    border-radius: 10px;
    width: 100%;
    height: auto;
  }

  div.desc {
    padding-top: 4px;
    text-align: left;
    font-size: 22;
    overflow:visible;
  }